/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#LeftAnchorPane .button{
	-fx-background-color : "#00733b";
	-fx-font-family :"Monotype Corsiva";
	-fx-text-fill : "#ffffff";
	-fx-font-size : 20;
	-fx-pref-width: 126;
	-fx-pref-height: 42;
}

#LeftAnchorPane{
	-fx-background-color : "#64ac80";
}

#RightAnchorPane{
	-fx-background-color :  "#ccd4ac";
}

#List {
	-fx-background-color : "#ffee80";
}

#RightAnchorPane Text{
	-fx-font-family :"Monotype Corsiva";
}

#RightAnchorPane .button{
	-fx-font-family :"Lucida Fax";
	-fx-font-style: italic;
	-fx-background-color : "#64ac80";
}
